# Local settings
local.settings.json

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Azurite local storage emulator
__azurite_db_*
__blobstorage__/
__queuestorage__/
AzuriteConfig

# Azure Developer CLI
.azure/
